@font-face{
  font-family: "optimus-princeps";
  src: url("../fonts/optimus-princeps/OptimusPrinceps.ttf");
}

.champion_img{
  height: 90%;
  width: 110%;
}

.champion_column{
  text-align: center;
  font-family: "optimus-princeps";
}

.champion_name{
  font-size: 20px;
  font-weight: bold;
}

.change_text{
  font-family: "optimus-princeps";
}
